@model ChangePasswordViewModel

<div>
    <a asp-action="Index">Назад</a>
</div>

<h2>Изменить пароль</h2>

<form method="post">
    <input asp-for="Id" hidden />

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Новый пароль</label>
        <div class="col-sm-10">
            <input class="form-control" asp-for="NewPassword">
            <span class="text-danger" asp-validation-for="NewPassword"></span>
        </div>
    </div>

    <button class="btn btn-success">Сохранить</button>
</form>